[package]
name = "staking-miner"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0" }
scale-info = { package = "scale-info", version = "2.3.0" }
clap = { version = "3.2", features = ["derive", "env"] }
tracing-subscriber = { version = "0.3.16", features = ["env-filter"]   }
jsonrpsee = { version = "0.16.0", features = ["ws-client", "macros"] }
log = "0.4"
paste = "1.0"
serde = "1.0"
serde_json = "1.0"
futures = "0.3"
thiserror = "1.0"
tokio = { version = "1.21", features = ["macros", "rt-multi-thread", "sync", "signal"] }
pin-project-lite = "0.2"

# subxt
subxt = { git = "https://github.com/paritytech/subxt" }
scale-value = "0.6.0"

# substrate
sp-io = { git = "https://github.com/paritytech/substrate", branch = "master" }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "master" }
frame-election-provider-support = { git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-election-provider-multi-phase = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-npos-elections = { git = "https://github.com/paritytech/substrate", branch = "master" }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-version = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "master" }

# prometheus
prometheus = "0.13"
hyper = { version = "0.14.23", features = ["server", "http1", "http2", "tcp"] }
once_cell = "1.16"

[dev-dependencies]
assert_cmd = "2.0"
sp-storage = { git = "https://github.com/paritytech/substrate", branch = "master" }

[features]
default = ["polkadot", "kusama", "westend"]
slow-tests = []
westend = []
polkadot = []
kusama = []
