[package]
name = "polkadot-staking-miner"
version = "1.5.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
rust-version = "1.74.0"
license = "GPL-3.0"
repository = "https://github.com/paritytech/polkadot-staking-miner"
homepage = "https://www.parity.io/"
description = "A tool to submit NPoS election solutions for substrate based chains"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0" }
scale-info = { package = "scale-info", version = "2.11.2" }
clap = { version = "4.5", features = ["derive", "env"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
jsonrpsee = { version = "0.23.2", features = ["ws-client"] }
log = "0.4"
serde = "1.0"
serde_json = "1.0"
futures = "0.3"
thiserror = "1.0"
tokio = { version = "1.38", features = ["macros", "rt-multi-thread", "sync", "signal"] }
pin-project-lite = "0.2"

# subxt
scale-value = "0.16.0"
subxt = { version = "0.37.0", features = ["substrate-compat"] }

# polkadot-sdk
frame-election-provider-support = "34.0.0"
pallet-election-provider-multi-phase = "33.0.0"
sp-npos-elections = "32.0.0"
frame-support = "35.0.0"
sp-runtime = "38.0.0"

# prometheus
prometheus = "0.13"
hyper = { version = "0.14.29", features = ["server", "http1", "http2", "tcp"] }
once_cell = "1.19"

[dev-dependencies]
anyhow = "1"
assert_cmd = "2.0"
sp-storage = "21.0.0"
regex = "1"
