name: Build polkadot binary for nightly tests

on:
  # Allow it to be manually ran to rebuild binary when needed:
  workflow_dispatch: {}
  # Run at 22pm every day for nightly builds.
  schedule:
    - cron: "0 22 * * *"

jobs:
  tests:
    name: Build polkadot binary
    runs-on: ubuntu-latest
    container: ci-unified:bullseye-1.77.0-2024-04-10-v20240408
    steps:
      - name: checkout polkadot-sdk
        uses: actions/checkout@v4
        with:
          repository: paritytech/polkadot-sdk

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            polkadot
          cache-on-failure: true

      - name: build polkadot binary
        run: |
          cargo build -p polkadot --release --features fast-runtime
          ./target/release/polkadot --version
          strip -s ./target/release/polkadot
          strip -s ./target/release/polkadot-prepare-worker
          strip -s ./target/release/polkadot-execute-worker

      - name: upload polkadot binary
        uses: actions/upload-artifact@v3
        with:
          name: nightly-polkadot-binary
          path: |
            ./target/release/polkadot
            ./target/release/polkadot-execute-worker
            ./target/release/polkadot-prepare-worker
          retention-days: 2
          if-no-files-found: error
