name: Nightly test

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  nightly-test:
    runs-on: ubuntu-latest
    # container: paritytech/ci-unified:bullseye-1.74.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Polkadot and Staking Miner Playground binaries
        uses: ./.github/workflows/actions/prepare-binaries

      - name: Cache Rust dependencies
        uses: swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-rust-${{ hashFiles('**/Cargo.lock') }}
          cache-on-failure: true

      - name: Run nightly tests
        run: |
          RUST_LOG=info cargo test --workspace --all-features -- --nocapture
          # cargo clean

      - name: Create an issue on failure
        if: failure()
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FAILED_WORKFLOW_RUN_URL: https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks/${{ github.run_id }}
        with:
          # Use this issue template:
          filename: .github/issue_templates/nightly_run_failed.md
          # Update existing issue if found; hopefully will make it clearer
          # that it is still an issue:
          update_existing: true
          # Look for new *open* issues in this search (we want to
          # create a new one if we only find closed versions):
          search_existing: open

